body{
background-color: #FDF2E9;
font-family: Segoe UI ;

}

h1{
text-align: center;
color:#873600;
padding-top: 30px;
font-size: 60px;
}
#dob-input
{
margin-left: 25rem;
height: 3rem;
width: 31rem;
font-size: 22px;

}
.div1
{

height: 550px;
width: 800px;
border: 2px solid white;
border-radius: 3px;
 margin-left: 15rem;

margin-top: 50px;
}
#result{
color: #873600;
margin-top:50px;
margin-left: 25%;
margin-right: 20%;

font-size: 2rem;
}
#show-btn
{
  width: 10rem;
  height: 3rem ;
  padding: 0.2rem;
  border-style: none;
  margin-left: 34rem;
  border-radius: 4px;
  margin-top: 30px;
background-color:#DC7633 ;
  font-size: 23px;
}

#active-contianer1
{
  border: 1px solid #DC7633;
  width: 430px;
  height: 8%;
  margin-left: 32.5%;
  margin-top: 20px;
  text-align: center;
  /* padding-top: 3px; */
  height: 39px;
  font-size: 25px;
  border-radius: 8px;
}

a{
  text-decoration: none;
  color:#DC7633 ;
}

.container
{
  border: 1px solid #DC7633;
  width: 33%;
  margin-left: 31%;
  margin-top: 20px;
  border-radius: 10px;
  padding-left: 24px;
  /* color: #DC7633; */
  font-size: 18px;
}


h2{
    padding-left: 74px;
    color:#873600;
}



















